@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway:wght@500&display=swap");
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  background: #000000;
  color: #AD3C4F;
}

.app {
  background: #000000;
  overflow: hidden;
}

@media (max-width: 991px) {
  .body-active {
    overflow: hidden;
  }
}

/*
Navbar
*/
.navbar {
  background-color: #000000 !important;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
  margin: auto 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #AD3C4F;
}

.navbar .navbar-brand img {
  width: 50%;
  padding: 10px;
  padding-bottom: 1rem;
}

.navbar .navbar-brand h1 {
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 2.5rem;
  margin-bottom: 0;
  padding: 0;
  font-family: "Nanum Brush Script", cursive;
}

.navbar .navbar-brand h1:before {
  content: 'New';
  display: block;
  margin-bottom: -25px;
  font-size: 2.5rem;
  font-weight: 800;
}

.navbar .navbar-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navbar-nav .active {
  color: #ffff;
}

.navbar .navbar-nav a {
  color: #AD3C4F;
  font-family: "Nanum Brush Script", cursive;
  margin: 0 1em;
  letter-spacing: 5px;
  font-weight: 600;
  color: #AD3C4F;
  font-size: 1.5em;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.navbar .navbar-nav a:hover {
  color: #ffff;
}

/*
Reponsive icon
*/
#Fabar {
  display: none;
}

/*
Reponsive design
*/
@media (max-width: 991px) {
  .navbar {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
  }
  .navbar .navbar-brand {
    margin-top: 0;
  }
  .navbar h1 {
    font-size: 3rem !important;
    letter-spacing: 5px !important;
  }
  .navbar .navbar-nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 100vh;
    display: none;
    font-size: 1.5rem;
  }
  .navbar .navbar-nav .nav-link {
    margin: 1em auto;
  }
  .navbar .navbar-nav-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #Fabar {
    display: block;
    -webkit-transform: translate(-100%, 75%);
            transform: translate(-100%, 75%);
    font-size: 1.8rem;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 0;
    color: #AD3C4F;
    -webkit-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
  }
  #Fabar:hover {
    color: #ffff;
  }
}

/*
Hero section
*/
.Hero {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0))), url("/images/Home/hero.jpeg") no-repeat center center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url("/images/Home/hero.jpeg") no-repeat center center;
  height: 100vh;
  background-size: cover;
  padding: 0.5rem 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.Hero__content .fishImage {
  background: transparent url("/images/Home/fish.png") no-repeat center center;
  background-size: contain;
  width: calc( ( 100vw - 50vw ) / 2);
  height: 50vh;
  max-width: 280px;
  position: absolute;
  right: 130px;
  -webkit-transform: rotate(-215deg);
          transform: rotate(-215deg);
  z-index: 10;
}

.Hero__content .fishImage2 {
  background: transparent url("/images/Home/fish.png") no-repeat center center;
  background-size: contain;
  width: calc( ( 100vw - 50vw ) / 2);
  max-width: 280px;
  height: 50vh;
  position: absolute;
  left: 130px;
  -webkit-transform: rotate(325deg);
          transform: rotate(325deg);
  z-index: 10;
}

.Hero__content .HeroText {
  position: absolute;
  width: calc(  100vw / 2);
  max-width: 550px;
  max-height: 550px;
  text-align: center;
  margin: auto;
  border-radius: 100%;
  background: #131212;
  height: calc(  100vw / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 15;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}

.Hero__content .HeroText h1 {
  font-size: clamp(3em, 15vw, 5.5em);
  margin-bottom: 0;
  font-family: "Nanum Brush Script", cursive;
  color: #AD3C4F;
}

.Hero__content .HeroText h4 {
  color: #fffeee;
  line-height: inherit;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: clamp(0.9em, 1.5vw, 2em);
}

.Hero__content .HeroText .phoneNum {
  margin-bottom: .5em;
}

.Hero__content .HeroText .phoneNum a {
  font-size: clamp(1em, 1.5vw, 2em);
  color: #AD3C4F;
  font-weight: 500;
  margin-bottom: 2em;
  position: relative;
}

.Hero__content .HeroText .phoneNum a::after {
  content: "";
  height: 1.5px;
  background: #AD3C4F;
  position: absolute;
  left: 0;
  right: 0;
  left: 40%;
  width: 60%;
  bottom: -3px;
  opacity: 0;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.Hero__content .HeroText .phoneNum a:hover {
  color: #AD3C4F;
  cursor: pointer;
  text-decoration: none;
}

.Hero__content .HeroText .phoneNum a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

.Hero__content .HeroText .hours {
  color: #fffeee;
  font-weight: 500;
  margin-bottom: 2em;
  letter-spacing: 3px;
  font-size: clamp(0.8em, 1vw, 2em);
}

.Hero__content .HeroText__button {
  padding: 14px clamp(1.5em, 1.5vw, 2em);
  border: none;
  background: #AD3C4F;
  color: #000000;
  font-weight: 500;
  font-size: clamp(15px, 1.5vw, 18px);
  letter-spacing: 6px;
  cursor: pointer;
  outline: none;
  text-align: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-decoration: none;
  border-radius: 32px;
}

.Hero__content .HeroText__button:hover {
  background: #000000;
  color: #AD3C4F;
  text-decoration: none;
}

.Hero__content .HeroText__button:hover a {
  color: #AD3C4F;
}

@media screen and (max-width: 1024px) {
  .Hero__content .fishImage, .Hero__content .fishImage2 {
    height: 30vh;
  }
}

@media screen and (max-width: 990px) {
  .Hero__content .HeroText {
    height: calc( 100vw / 2);
    width: calc( 100vw / 2);
    min-width: 430px;
    min-height: 430px;
  }
  .Hero__content .fishImage, .Hero__content .fishImage2 {
    height: 30vh;
  }
}

@media screen and (max-width: 675px) {
  .Hero {
    height: 70vh;
  }
  .Hero__content .HeroText {
    background: unset;
    min-width: 300px;
    min-height: 300px;
    width: 100%;
  }
  .Hero__content .HeroText h4, .Hero__content .HeroText .hours {
    color: black;
  }
  .Hero__content .fishImage, .Hero__content .fishImage2 {
    display: none;
  }
}

@media screen and (max-width: 500px), (max-height: 450px) {
  .Hero__content .fishImage, .Hero__content .fishImage2 {
    display: none;
  }
}

@media screen and (max-height: 450px) {
  .Hero .HeroText {
    background: unset;
    min-width: 300px;
    min-height: 300px;
  }
  .Hero .HeroText h1 {
    font-size: 5em !important;
  }
  .Hero .HeroText h4, .Hero .HeroText .hours {
    color: black;
  }
}

@media screen and (max-height: 375px) {
  .Hero {
    height: 110vh;
  }
}

@media screen and (max-height: 280px) {
  .Hero {
    height: 130vh;
  }
}

/*
Specils section
*/
.specils .thai, .specils .chinese {
  color: #AD3C4F;
  text-align: center;
  font-style: italic;
  font-size: clamp(2em, 8vw, 4em);
  font-family: "Nanum Brush Script", cursive;
  font-weight: 500;
  letter-spacing: 4px;
  margin-bottom: 0;
  background: #fffafa;
}

.specils .ThaiSpecils, .specils .ChineseSpecils {
  background-color: #131212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ChineseSpecils .ChineseSpecils__content {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ChineseSpecils .ChineseSpecils__content .top {
  background: #AD3C4F;
}

.ChineseSpecils .ChineseSpecils__content .top ul li .img__wrapper {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.ChineseSpecils .ChineseSpecils__content .bottom {
  background: #131212;
}

.ChineseSpecils .ChineseSpecils__content .top, .ChineseSpecils .ChineseSpecils__content .bottom {
  padding: 2em;
  width: 100vw;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ChineseSpecils .ChineseSpecils__content .top ul, .ChineseSpecils .ChineseSpecils__content .bottom ul {
  padding: 0;
  width: 100vw;
  margin-bottom: 0;
}

.ChineseSpecils .ChineseSpecils__content .top ul li, .ChineseSpecils .ChineseSpecils__content .bottom ul li {
  list-style: none;
  color: #ffffee;
  float: left;
  width: 48.5%;
  margin-right: 3%;
  margin-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3em 0;
}

.ChineseSpecils .ChineseSpecils__content .top ul li:nth-child(2n), .ChineseSpecils .ChineseSpecils__content .bottom ul li:nth-child(2n) {
  margin-right: 0;
}

.ChineseSpecils .ChineseSpecils__content .top ul li .img__wrapper, .ChineseSpecils .ChineseSpecils__content .bottom ul li .img__wrapper {
  min-width: 250px;
  max-width: 250px;
  width: auto;
  border-radius: 32px;
  background-color: #EFE4CA;
  background-image: url("/images/Menu/Cnbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.ChineseSpecils .ChineseSpecils__content .top ul li .img__wrapper img, .ChineseSpecils .ChineseSpecils__content .bottom ul li .img__wrapper img {
  width: 100%;
  padding: .5em;
  height: auto;
  border-radius: 32px;
}

.ChineseSpecils .ChineseSpecils__content .top ul li .description, .ChineseSpecils .ChineseSpecils__content .bottom ul li .description {
  padding: 2em;
  min-width: 280px;
  max-height: 200px;
  max-width: 280px;
}

.ChineseSpecils .ChineseSpecils__content .top ul li .description h5, .ChineseSpecils .ChineseSpecils__content .top ul li .description span, .ChineseSpecils .ChineseSpecils__content .bottom ul li .description h5, .ChineseSpecils .ChineseSpecils__content .bottom ul li .description span {
  font-weight: 400;
  font-size: 16px !important;
}

.ChineseSpecils .ChineseSpecils__content .top ul li .description p, .ChineseSpecils .ChineseSpecils__content .bottom ul li .description p {
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 0;
}

.ThaiSpecils {
  padding: 0;
}

.ThaiSpecils .right {
  background: #131212;
}

.ThaiSpecils .left {
  background: #AD3C4F;
  min-height: 500px;
}

.ThaiSpecils__content {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 1em;
}

.ThaiSpecils__content ul {
  padding: 0;
}

.ThaiSpecils__content ul li:last-child .img__wrapper {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.ThaiSpecils__content ul li {
  padding-top: 1em;
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffee;
  list-style: none;
  float: left;
  width: 100%;
  margin-right: 4%;
  margin-bottom: 4%;
}

.ThaiSpecils__content ul li:nth-child(1n) {
  margin-right: 0;
}

.ThaiSpecils__content ul li .img__wrapper {
  width: auto;
  margin-bottom: 2em;
  border-radius: 32px;
  background-color: #263238;
  background-image: url("/images/Menu/thaibg.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.ThaiSpecils__content ul li .img__wrapper img {
  width: 100%;
  max-width: 250px;
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
  padding: 1em;
  height: auto;
  border-radius: 32px;
}

.ThaiSpecils__content ul li .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 280px;
  max-height: 200px;
  max-width: 280px;
  padding: 1em;
}

.ThaiSpecils__content ul li .description h5, .ThaiSpecils__content ul li .description span {
  font-weight: 400;
  font-size: 16px !important;
}

.ThaiSpecils__content ul li .description h5 i, .ThaiSpecils__content ul li .description span i {
  margin: 0 5px;
}

.ThaiSpecils__content ul li .description p {
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 0;
}

@media screen and (max-width: 1040px) {
  .ThaiSpecils {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 990px) {
  .ChineseSpecils__content .top ul, .ChineseSpecils__content .bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ChineseSpecils__content .top ul li, .ChineseSpecils__content .bottom ul li {
    float: left;
    width: 100%;
    margin-right: 3%;
    margin-bottom: 3%;
  }
  .ChineseSpecils__content .top ul li:nth-child(1n), .ChineseSpecils__content .bottom ul li:nth-child(1n) {
    margin-right: 0;
  }
  .ChineseSpecils__content .top ul li .description, .ChineseSpecils__content .bottom ul li .description {
    max-width: 260px;
  }
  .ChineseSpecils__content .top .topUl > .num_s15 .img__wrapper, .ChineseSpecils__content .bottom .topUl > .num_s15 .img__wrapper {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .ChineseSpecils__content .top .bottomUl > .num_h21 .img__wrapper, .ChineseSpecils__content .bottom .bottomUl > .num_h21 .img__wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 500px) {
  .ThaiSpecils__content ul, .ChineseSpecils__content ul {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .ThaiSpecils__content ul li, .ChineseSpecils__content ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 250px;
  }
  .ThaiSpecils__content ul li .description, .ChineseSpecils__content ul li .description {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .ChineseSpecils .ChineseSpecils__content .top ul li .img__wrapper {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

/*
About section
*/
.About {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("/images/Home/about.jpeg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/images/Home/about.jpeg");
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.About h1 {
  color: #AD3C4F;
  font-family: "Nanum Brush Script", cursive;
  font-size: 5em;
  margin-bottom: .5em;
}

.About p {
  color: #AD3C4F;
  line-height: 2;
  padding: 0em clamp(2em, 8vw, 8em);
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 3em;
  font-style: italic;
  letter-spacing: 3px;
}

@media (max-width: 992px) {
  .About p {
    text-align: center;
  }
}

/*
Quote section
*/
.Quote {
  background: #AD3C4F;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.2))), url("/images/Home/quote.png");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("/images/Home/quote.png");
  background-position: center center;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0em clamp(1.5em, 8vw, 8em);
  color: #dfdcd5;
}

.Quote__content {
  margin-top: 3em;
  font-style: normal;
  font-size: clamp(1em, 2.5vw, 2em);
  line-height: 2;
  font-family: "Kaushan Script", handwriting;
  letter-spacing: 5px;
  text-align: center;
}

.Quote__author {
  width: 100%;
  text-align: center;
  font-family: "Kaushan Script", handwriting;
  padding: 2em;
  letter-spacing: 5px;
  font-size: clamp(1em, 2.5vw, 3em);
}

@media (max-width: 768px) {
  .Quote__content {
    font-size: 20px;
    letter-spacing: 3px;
  }
  .Quote__author {
    font-size: 20px;
    padding: 2em;
    letter-spacing: 3px;
    margin-bottom: 0;
  }
}

/*
Map section
*/
.googleMaps {
  height: 60vh !important;
  background: #131212;
}

/*
Main Menu
*/
.MainMenu {
  min-height: 80vh;
  background-color: #AD3C4F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.MainMenu .menuOptions {
  width: 100%;
  min-height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
}

.MainMenu .menuOptions a {
  text-decoration: none;
  color: #fffe;
}

.MainMenu .menuOptions .option_cn, .MainMenu .menuOptions .option_thai {
  margin: 2em;
  width: 100%;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  background-size: cover;
  border-radius: 10px;
  max-width: 370px;
  max-height: 500px;
}

.MainMenu .menuOptions .option_cn h1, .MainMenu .menuOptions .option_thai h1 {
  margin-bottom: 0;
  padding: .5em;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  font-family: "Nanum Brush Script", cursive;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3em;
}

.MainMenu .menuOptions .option_cn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url("/images/Menu/Cnbg.png") no-repeat;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/images/Menu/Cnbg.png") no-repeat;
  background-color: #EFE4CA;
  background-repeat: no-repeat;
  background-size: cover;
}

.MainMenu .menuOptions .option_cn:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url("/images/Menu/optionCn.jpeg") no-repeat center center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/images/Menu/optionCn.jpeg") no-repeat center center;
  background-size: cover;
}

.MainMenu .menuOptions .option_cn:hover h1 {
  background: rgba(0, 0, 0, 0.1);
}

.MainMenu .menuOptions .option_thai {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("/images/Menu/thaibg.png") no-repeat;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/images/Menu/thaibg.png") no-repeat;
  background-color: #263238;
  background-repeat: no-repeat;
  background-size: cover;
}

.MainMenu .menuOptions .option_thai:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("/images/Menu/optionThai.jpeg") no-repeat center center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/images/Menu/optionThai.jpeg") no-repeat center center;
  background-size: cover;
}

.MainMenu .menuOptions .option_thai:hover h1 {
  background: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 920px) {
  .MainMenu .menuOptions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 382px) {
  .MainMenu .menuOptions .option_cn h1, .MainMenu .menuOptions .option_thai h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 280px) {
  .MainMenu .menuOptions .option_cn h1, .MainMenu .menuOptions .option_thai h1 {
    font-size: 1.5em;
  }
}

/*
Chinese Menu
*/
.chineseMenu {
  background-image: url("/images/Menu/menubg1.jpeg");
  background-position: center center;
  background-size: contain;
  color: #AD3C4F;
  padding: 2em;
  min-height: 80vh;
}

.chineseMenu img {
  -webkit-filter: contrast(0.6);
          filter: contrast(0.6);
}

.chineseMenu .MenuContents {
  color: #AD3C4F;
}

.chineseMenu .MenuContents .CategorySearch {
  border: none !important;
  padding: 0;
  min-width: 15em;
}

.chineseMenu .MenuContents .react-search-field-input {
  font-size: 1em !important;
  font-weight: 200 !important;
}

.chineseMenu .MenuContents .react-search-field-button {
  border-right: 1px solid #dddddd !important;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.chineseMenu .MenuContents .react-search-field-button svg {
  margin-bottom: 10px !important;
}

.chineseMenu .MenuContents .MenuCategory .MobileCategory {
  display: none;
}

.chineseMenu .MenuContents .MenuCategory ul {
  text-align: center;
  padding-left: 0;
  padding-right: 3em;
  list-style: none;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(rgba(243, 243, 243, 0.2)), to(rgba(243, 235, 235, 0)));
  background: linear-gradient(to right, rgba(243, 243, 243, 0.2), rgba(243, 235, 235, 0));
}

.chineseMenu .MenuContents .MenuCategory ul a {
  font-weight: 500;
  border: 2px solid #AD3C4F;
  padding: 0.5em 2em;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #AD3C4F;
}

.chineseMenu .MenuContents .MenuItems {
  border: 2px solid #AD3C4F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: flex;
      -ms-flex-align: flex;
          align-items: flex;
  padding: 2em;
  color: black;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 3em;
  border-radius: 5px;
}

.chineseMenu .MenuContents .MenuItems .category_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chineseMenu .MenuContents .MenuItems .category_header h1, .chineseMenu .MenuContents .MenuItems .category_header .withRice {
  color: #AD3C4F;
  text-align: center;
  margin-bottom: 0;
  max-width: 11em;
}

.chineseMenu .MenuContents .MenuItems .category_header .withRice::after {
  content: "(Serve with Rice)";
  display: block;
  font-size: 16px;
  margin: .5em 0;
}

.chineseMenu .MenuContents .MenuItems .category_header .category_sub {
  color: #AD3C4F;
  font-size: 16px;
  text-align: center;
}

.chineseMenu .MenuContents .MenuItems .category_size {
  color: #AD3C4F;
  width: 100%;
  text-align: end;
}

.chineseMenu .MenuContents .MenuItems .category_size .pt, .chineseMenu .MenuContents .MenuItems .category_size .qt {
  margin: 1.3em;
}

.chineseMenu .MenuContents .MenuItems .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1em;
  position: relative;
  overflow: hidden;
}

.chineseMenu .MenuContents .MenuItems .item__name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 10px;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.chineseMenu .MenuContents .MenuItems .item__name:after {
  content: '';
  position: absolute;
  border-bottom: 2px dotted #ccc;
  width: 10000px;
  bottom: 7px;
  margin-left: .25em;
}

.chineseMenu .MenuContents .MenuItems .item__description {
  display: block;
  font-size: initial;
  margin: -20px 0 1em 3rem;
  color: #AD3C4F;
}

.chineseMenu .MenuContents .MenuItems .item .fa-pepper-hot {
  color: #AD3C4F;
}

@media screen and (max-width: 991px) {
  .chineseMenu {
    padding: 0;
  }
  .chineseMenu .CategorySearch {
    margin: 0 15px;
  }
  .chineseMenu .MenuItems {
    border: none;
    padding: 0 15px !important;
  }
  .chineseMenu .MenuItems .category_header {
    margin-top: 1em;
  }
  .chineseMenu .MenuContents {
    padding: 0 !important;
  }
  .chineseMenu .MenuCategory {
    padding: 0 15px !important;
  }
  .chineseMenu .MenuCategory .category {
    display: none;
  }
  .chineseMenu .MenuCategory .MobileCategory {
    display: block !important;
    color: #AD3C4F;
    margin: 0 15px;
  }
  .chineseMenu .MenuCategory .MobileCategory .rdn-control {
    border: 2px solid #AD3C4F !important;
    border-radius: 5px !important;
    background-color: transparent !important;
    margin-bottom: 1em;
    color: #AD3C4F;
    font-weight: 500;
  }
  .chineseMenu .MenuCategory .MobileCategory .rdn-drop-menu-option,
  .chineseMenu .MenuCategory .MobileCategory .rdn-drop-menu-group-option,
  .chineseMenu .MenuCategory .MobileCategory .rdn-selection-menu-option,
  .chineseMenu .MenuCategory .MobileCategory .rdn-selection-menu-group-option {
    background-image: url("/images/Menu/menubg1.jpeg");
    background-position: center center;
    background-size: contain;
  }
}

@media screen and (max-width: 568px) {
  .chineseMenu {
    padding: 0;
  }
  .chineseMenu .MobileCategory .rdn-control {
    font-size: 19px;
  }
  .chineseMenu .MenuItems .category_header h1 {
    font-size: 1.5em;
  }
  .chineseMenu .MenuItems .item {
    font-size: 15px;
  }
  .chineseMenu .MenuItems .item__description {
    margin: 0;
    margin-top: -20px;
    padding-left: 2em;
  }
}

@media screen and (max-width: 414px) {
  .chineseMenu {
    padding: 0;
  }
  .chineseMenu .MobileCategory .rdn-control {
    font-size: 16px;
  }
  .chineseMenu .MenuItems .category_header h1 {
    font-size: 1.5em;
  }
  .chineseMenu .MenuItems .item {
    font-size: 15px;
  }
}

.footer {
  color: #AD3C4F;
  padding: 2em 1em;
  background-color: #131212 !important;
  text-align: center;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.footer__logo img {
  max-width: 75px;
  padding: 8px;
}

.footer__logo h1 {
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: -20px;
  font-size: 2.5rem;
  padding: 0;
  font-family: "Nanum Brush Script", cursive;
}

.footer__logo h1:before {
  content: 'New';
  display: block;
  margin-bottom: -25px;
  font-size: 2.5rem;
  font-weight: 800;
}

.footer .col-md-12 hr {
  margin: 2em 0;
  background: #333333 !important;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000000;
  padding: 0;
  margin: 0;
  height: 3em;
}

.copyright p {
  color: #AD3C4F;
  margin-bottom: 0;
  font-size: 20px;
  font-family: "Nanum Brush Script", cursive;
}

.footer_header {
  font-family: "Nanum Brush Script", cursive;
  margin-top: 1em;
}

.footer_location, .footer_hours, .footer_contact {
  color: #fff;
  letter-spacing: 2px;
  font-size: 14px;
}

.footer_location span, .footer_hours span, .footer_contact span {
  display: block;
  font-size: 14px;
}

.footer_location a, .footer_hours a, .footer_contact a {
  color: #fff;
  letter-spacing: 2px;
  font-size: 14px;
  display: block;
}

.footer_location a:hover, .footer_hours a:hover, .footer_contact a:hover {
  text-decoration: none;
  color: #AD3C4F;
}

.footer_main_center {
  border-right: 1px solid #333333;
  border-left: 1px solid #333333;
}

@media (max-width: 768px) {
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1rem;
  }
  .footer_main_left {
    padding-bottom: 2em;
  }
  .footer_main_center {
    border-right: none;
    border-left: none;
    padding-bottom: 2em;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
  }
}

@media (max-width: 320px) {
  .copyright p {
    font-size: 17px;
  }
}
/*# sourceMappingURL=index.css.map */