
*,::before,::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $main-font;
  font-size: 1.2rem;
  line-height: 1.6;
  background: $bg-color
}

.app {
  background: $bg-color
}
  