.navbar { 
  background-color: $nav-bg-color !important;
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  .navbar-brand {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 2px;
  }
  .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    a {
      color: #fff;
      margin: 0 2em;
      letter-spacing: 1px;
    }
  }
  a {
    color: #fff;
  }
}
