/*
Navbar
*/ 
.navbar { 
  background-color: $nav-bg-color !important;
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  padding: 0 !important;
  height: 12vh;
  transform: none !important;
  // Logo
  .navbar-brand {
    margin: auto 1em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: $text-color;
    // Logo image
    img {
      width: 5em;
      margin-right: -16px;
    }
    // Logo text
    h1 {
      font-weight: 800;
      letter-spacing: 3px;
      font-size: 2.5rem;
      margin-bottom: 0;
      padding: 0;
      font-family: $logo-font;
      &:before {
        content:'New';
        display: block;
        margin-bottom: -25px;
        font-size:  2.5rem;
        font-weight: 800;
      }
    }
  } 
  // Nav links div
  .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    .active {
      color: #ffff;
    }
    .dropdown-menu {
      background: $footer-bg-color;
      .active {
        color: #ffff;
      }
      a {
        color: $text-color;
        &:hover {
          color: #ffff;
        }
      }
    .dropdown-item {
      &:hover {
        background: $footer-bg-color;
      }
    }  
      
    }
    #Dropdown {
      color: $text-color;
      background-color: none;
      background: transparent;
      border: none;
      font-family: $logo-font;
      font-weight: 600;
      font-size: 1.5em;
      transition: all .5s;
      margin: 1em auto;
      &:focus {
        border: none;
        box-shadow: none;
        background-color: none;
      }
      &:hover {
        color: #ffff;
      }
    }
    // Links
    a {
      color: $text-color;
      font-family: $logo-font;
      margin: 0 1em;
      letter-spacing: 5px;
      font-weight: 600;
      color: $text-color;
      font-size: 1.5em;
      transition: all .5s;
      justify-content: center;
      display: flex;
      align-items: center;
      .active {
        color: #ffff;
      }
      &:hover {
        color: #ffff;
      }
    }
  }
}

/*
Reponsive icon
*/ 
#Fabar {
  display: none;
}

/*
Reponsive design
*/ 
@media (max-width: 991px) {
  .navbar {
    height: auto;
    align-items: flex-start;
    padding: 0 !important;
    .navbar-brand {
      margin-top: 0;
    }
    .navbar-nav {
      justify-content: flex-start;
      height: 100vh;
      display: none;
      font-size: 1.5rem;
      .nav-link {
        margin: 1em auto;
      }
    }
    .navbar-nav-active {
      display: flex;
    }
  } 
  #Fabar {
    display: block;
    transform: translate(-100%, 75%);
    font-size: 1.8rem;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 0;
    color: $text-color;
    transition: all .5s;
    cursor: pointer;
    &:hover {
      color: #ffff;
    }
  }
}

@media screen and (max-height:540px) {
  .navbar {
    .navbar-nav {
      .nav-link, #Dropdown {
        margin: 0;
        padding: initial;
      }
    }
  }   
 
}

@media screen and (max-height:540px) {
  .navbar {
    .navbar-nav {
      .nav-link, #Dropdown {
        margin: 0;
        padding: initial;
      }
    }
  }   
}